<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LgTvController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SmartTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LgTvController.Properties.Settings>
            <setting name="savedDeviceList" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUsedDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="showLog" serializeAs="String">
                <value>False</value>
            </setting>
        </LgTvController.Properties.Settings>
        <SmartTV.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>192.168.1.55</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>035957b84f78c710e48850726caa664a</value>
            </setting>
            <setting name="macAddr" serializeAs="String">
                <value>388C50FD4DA5</value>
            </setting>
            <setting name="savedDeviceList" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUsedDevice" serializeAs="String">
                <value />
            </setting>
        </SmartTV.Properties.Settings>
    </userSettings>
</configuration>